.form {
  position: absolute;
  z-index: 99;
  
  margin: 30px auto;
  padding: 10px 20px;
  
  background-color: #ffffffee;
  border-radius: 5px;

  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: center;
}

.form > * {
  margin: 10px 10px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
}

.form > .ant-select {
  width: 300px;
  text-align: left;
}

.form > button {
  display: flex;
  align-items: center;
}
